.main-container {
    padding: 7rem 0;
    height: 100vh;
    background-image: url("../../assets/img/gaming.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .heading {
        text-align: center;
        margin: 2rem 0;
        color: aliceblue;
    }

    .wrap {
        width: 100%;
        overflow: hidden;
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);

        .login-wrap {
            position: relative;
            width: 50%;

            .form-group {
                label {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: #000;
                    font-weight: 700;
                }
            }
        }

        .img {
            width: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}