.main-container {
    background: black;
    height: 100%;
    width: 100%;
    padding: 3rem;
    color: white;
    padding: 6rem;

    canvas {
        height: 60vh !important;
        width: 70vw;
    }

    button {
        margin-top: 1.5rem;
    }

    .button {
        @media only screen and (max-width: 768px) {
            text-align: center;
        }
    }

    .chart2 {
        margin-top: 2rem
    }

    .log-out {
        float: right;
    }
}